.grid{
    position: absolute;
    width: 800px;
    height: 500px;
    border: 2px solid black;
    border-radius: 0%;
    align-items: center;
    justify-content: center;
}
.blocks{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blue;
   
}
.user{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: black;
   
}
.ball{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: purple;
    border-radius: 50%;
}